body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.background__img {
  position: relative;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

 .background__img::before {
  content: "";
  background-image: url('./assets/imgs/avas_p_0189_ss13_copy.jpeg');
  filter: grayscale(90%) blur(1.5px);
  height: 100vh;
  width: 100vw;
  left: 0px;
  right: 0px;
  position: absolute;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  text-align: justify;
}

span {
  color: #fff;
}

a, button {
  display: block;
  height: 30px;
  width: 100px;
  background-color: rgb(102, 27, 27);
  text-align: center;
  line-height: 2.1;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

button {
  border: none; 
  outline: none;
  height: 30px;
  cursor: pointer;
}

button[disabled] {
  color: rgb(34, 22, 22);
  cursor: unset;
}

a:active,
a:hover,
a {
  text-decoration: none;
}

.spinner {
  position: absolute;
  top: 50vh;
  right: 50vw;
}

.wrapper, .comics__info {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-rows: 50px 418px 50px;
  grid-template-columns: 1200px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.comics__info {
  grid-template-rows: 100px auto;
}

.heros__info, .search, .pagination__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  max-width: 1100px;
  width: 100%;
  background: rgb(218, 10, 10);
  opacity: 0.9;
}

.pagination__btn__active  {
  background: rgb(102, 27, 27);
  /* margin: 0 3px 0 3px; */
  border-radius: 2px;
}

.search button {
  flex: 1 1 34px;
}

.search button:nth-child(2) {
  flex: 1 1 117px;
  margin-right: 10px;
}

.heros__wrapper {
  display: flex;
    flex-direction: column;
    gap: 10px;
}

.heros__info span:nth-child(2) {
  white-space: normal;
  width: 800px;
  color: #fff;
}

.heros__info span:nth-child(1) {
  color: #fff;
}

.comic {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: nowrap;
  gap: 20px;
  border: 2px solid red;
  margin-bottom: 20px;
}

.comic_description {
  width: 700px;
}
